@page

@{
    ViewData["Title"] = "Quem Somos";
}

<h1>
    <title>@ViewData["Title"]</Title>
</h1>


<p>Há mais de cinco anos, a Clean Grass tem se dedicado a transformar espaços ao ar livre em verdadeiros paraísos verdes no Brasil. Nossa paixão pela natureza, atenção aos detalhes e experiência em jardinagem nos tornam a escolha ideal para todos os seus projetos de paisagismo e manutenção de gramados.</p>

<img src="/images/motorsenseQuemSomos.jpg">
<br>
<br>

<h2>O que fazemos:</h2>

<ul>
    <li><strong>Corte de Grama Profissional:</strong> Nossos serviços de corte de grama não apenas mantêm seu gramado com um aspecto impecável, mas também promovem o crescimento saudável e resistente da grama. Com equipamentos de última geração e uma equipe qualificada, garantimos resultados incríveis.</li>

    <li><strong>Design e Paisagismo:</strong> Criamos designs de paisagens personalizados que se adaptam ao seu estilo e às condições do seu espaço. Seja um jardim residencial, comercial ou industrial, estamos prontos para transformar sua visão em realidade.</li>

    <li><strong>Manutenção Completa:</strong> Além do corte de grama, oferecemos serviços abrangentes de manutenção de jardins, incluindo poda, adubação, controle de pragas e irrigação. Sua paisagem permanecerá exuberante o ano todo.</li>
</ul>

<h2>Por que escolher a Clean Grass:</h2>

<ul>
    <li><strong>Experiência Confiança:</strong> Com mais de cinco anos de experiência, estamos comprometidos em entregar resultados superiores e exceder as expectativas de nossos clientes.</li>

    <li><strong>Equipe Profissional:</strong> Nossa equipe é formada por profissionais apaixonados e altamente treinados, prontos para enfrentar qualquer desafio de paisagismo.</li>

    <li><strong>Sustentabilidade:</strong> Valorizamos a sustentabilidade e adotamos práticas amigas do meio ambiente em todos os nossos projetos.</li>

    <li><strong>Satisfação do Cliente:</strong> A satisfação do cliente é nossa prioridade. Trabalhamos em estreita colaboração com você para garantir que seus desejos e necessidades sejam atendidos.</li>

    <li><strong>Orçamentos Transparentes:</strong> Fornecemos orçamentos detalhados e transparentes, para que você saiba exatamente o que esperar.</li>
</ul>


<p>Deixe a Clean Grass ser seu parceiro em beleza verde. Juntos, criaremos um espaço ao ar livre que você sempre sonhou.</p>